<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>

<section class="section">
    <div class="container">    
        <div class="hero is-large">
            <!-- Create a Form -->
            <form method="POST" class ="subtitle">
                <!-- Security token by Django -->
                {% csrf_token %}
                Do you want to delete this record ?
                <br>
                <br>
                <div class="control">
                    <button class="button is-link is-outlined">
                        Yes
                    </button>
                    <button class="button is-outlined">
                        <a href="/">Cancel </a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>